.characters-panel {
  table {
    thead {
      width: calc(100% - 1em); // scrollbar is 1em/16px width
    }
    .column {
      &.current-level,
      &.starting-level,
      &.session-count {
        width: 7%;
      }
      &.sessions-to-level-up {
        width: 128px;
      }
      &.next-session {
        width: 25%;
      }
    }
  }
  
}
