.graveyard-panel {
  table {
    thead {
      width: calc(100% - 1em); // scrollbar is 1em/16px width
    }
    .column {
      &.cause {
        text-align: left;
        align-items: center;
      }
    }
  }
}
