.graveyard-panel {
  width: 30%;
  table {
    .column.name,
    .column.cause {
      text-align: left;
      align-items: center;
      .avatar-link {
        font-size: 0px;
      }
    }
    .column.name {
      img {
        object-fit: cover;
        width: 30px;
        height: 30px;
      }
      a {
        margin-left: 1em;
        &:first-of-type {
          margin-left: 0;
        }
      }
    }
    thead,
    tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }
    thead {
      width: calc(100% - 1em); // scrollbar is 1em/16px width
    }
    tbody {
      display: block;
      height: 276px;
      overflow-y: auto;
    }
  }
}
