.sessions-panel {
  table {
    thead {
      width: calc(100% - 1em); // scrollbar is 1em/16px width
    }
    tr td button {
      font-size: inherit;
      height: 30px;
      padding: 0;
      padding-left: 12px;
      padding-right: 12px;
      white-space: nowrap;
    }
  }
}
