.sessions-panel {
  table {
    td.column.name {
      text-align: left;
    }
    tr {
      &[data-space-available="full-scheduled"] {
        background-color: #b8cddf;
        &:hover {
          background-color: darken(#b8cddf, 5%);
        }
      }
      &[data-space-available="full-planning"] {
        background-color: #bfdfc9;
        &:hover {
          background-color: darken(#bfdfc9, 5%);
        }
      }
      &[data-space-available="space-available-scheduled"] {
        background-color: #e4dbad;
        &:hover {
          background-color: darken(#e4dbad, 5%);
        }
      }
      &[data-space-available="planning"] {
        background-color: #e0c8b8;
        &:hover {
          background-color: darken(#e0c8b8, 5%);
        }
      }
    }
  }
  .table-key {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    .key-item {
      display: flex;
      align-items: center;
      .key-colour-block {
        height: 1em;
        width: 1em;
        margin-right: 0.5em;
      }
      &.full-scheduled .key-colour-block {
        background-color: #bfd5df;
      }

      &.full-planning .key-colour-block {
        background-color: #bfdfc9;
      }

      &.space-available-scheduled .key-colour-block {
        background-color: #e4dbad;
      }
      &.planning .key-colour-block {
        background-color: #e0c8b8;
      }
    }
  }
}
