.sessions-panel {
  table {
    td.column.name {
      text-align: left;
    }
  }

  .button-container {
    display: inline-block;
    button {
      flex-grow: 1;
      margin-top: 1em;
      border: none;
      padding: 6px 12px;
      padding: 12px;
      align-content: center;
      font-size: large;
      &:hover,
      &:focus {
        cursor: pointer;
        outline: none;
      }
      &:hover {
        background-color: darken(#efefef, 5%);
      }
    }
  }
}
