body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #root {
    display: flex;
    flex-direction: column;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  text-align: center;
  margin: 0;
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .sign-in-dialog {
    padding: 2em;
    background-color: #dddddd;
    .button-container {
      margin-top: 1em;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        img {
          margin-right: 1em;
          height: 30px;
        }
      }
    }
  }
}

.top-banner {
  display: flex;
  flex-direction: row;
  margin: 1em;
  justify-content: space-between;
  .character-info,
  .user-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .character-info {
    a {
      margin-left: 0.3em;
      &:not(:last-of-type)::after {
        content: ",";
      }
    }
  }
  .user-menu {
    .user-info {
      display: flex;
      flex-direction: row;
      align-items: start;
      margin-top: 0.1em;
      .spacer {
        padding-left: 0.2em;
        padding-right: 0.2em;
      }
    }
    img {
      padding-left: 0.5em;
      height: 30px;
      width: 30px;
    }
    .sign-out-button {
      text-decoration: underline;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

h2 {
  margin-top: 0;
}

ul {
  padding-left: 1.5em;
}

a {
  color: black;
  &:visited {
    color: black;
  }
}

form {
  & > * {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  label {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
  }
  label,
  span {
    &.required:after {
      color: red;
      content: " *";
    }
  }
}

.container {
  display: flex;
  flex-direction: row;
  margin: 1em;
  &:not(:first-of-type) {
    margin-top: 0;
  }
  .panel {
    background-color: #fbfbfb;
    padding: 1em;
    margin-right: 1em;
    display: inline-block;
    &:last-of-type {
      margin-right: 0;
    }
    &:hover {
      box-shadow: 0 0px 10px darken(#fbfbfb, 15%);
    }
    h2 {
      text-align: left;
    }
    .header-and-button {
      display: flex;
      h2 {
        flex-grow: 1;
      }
      .button-container {
        display: inline-block;
      }
    }
  }
}

button {
  flex-grow: 1;
  border: none;
  padding: 6px 12px;
  padding: 12px;
  align-content: center;
  font-size: large;
  background-color: #bbbbbb;
  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
  }
  &:hover {
    background-color: darken(#bbbbbb, 10%);
  }
  &:disabled {
    background-color: white;
    color: #888;
    cursor: not-allowed;
    &:hover,
    &:focus {
      cursor: not-allowed;
      outline: none;
    }
    &:hover {
      background-color: white;
    }
  }
}

table {
  border-spacing: 0;
  th {
    border-bottom: solid 1px black;
    vertical-align: bottom;
    padding-right: 1em;
  }
  th,
  td {
    margin: 0;
    padding: 8px 12px;
    &.column.name {
      img {
        object-fit: cover;
        width: 30px;
        height: 30px;
      }
      a {
        margin-left: 0.5em;
        &:first-of-type {
          margin-left: 0;
        }
      }
    }
    &.column.name {
      text-align: left;
      align-items: center;
      .avatar-link {
        font-size: 0px;
      }
    }
  }
  thead,
  tbody tr {
    width: 100%;
    display: table;
    table-layout: fixed;
  }
  tbody {
    display: block;
    max-height: 276px;
    overflow-y: auto;
    tr:hover {
      background-color: darken(#fbfbfb, 15%);
    }
    tr {
      &:nth-child(2n-1) {
        background-color: darken(#fbfbfb, 5%);
        &:hover {
          background-color: darken(#fbfbfb, 15%);
        }
      }
      &:hover {
        background-color: darken(#fbfbfb, 15%);
      }
    }
    td > * {
      vertical-align: middle;
    }
  }
}
